// Specific CSS for your home-page
#home-content {
  padding: 25px 30px 25px;
}
#hometitle {
  font-size: 70px;
  img {
    padding-bottom: 7px;
    width: 55px;
      }
  }
#last_ask {
  background-color: #FFF1D0;
  border-radius: 10px;
}

#last_propal {
  background-color: #b2dde1;
  border-radius: 10px;
}
