// Specific CSS for your home-page
#home-content {
  padding: 25px 30px 25px;
}

#last_ask {
  background-color: #FFF1D0;
  border-radius: 10px;
}

#last_propal {
  background-color: #b2dde1;
  border-radius: 10px;
}
