 <%= link_to chatroom_path(chatroom) do %>
  <i class="fa-regular fa-comment position-relative">
    <span style='right: -1px;padding: 5px!important;top: 13px;' class="position-absolute translate-middle p-2 bg-danger border border-light rounded-circle">
    </span>
  </i></i>
<% end %>
