  <%= link_to dashboard_path do %>
    <i class="fa-regular fa-calendar-check"></i>
      <span style='left: 139px;padding: 5px!important;top: 13px;' class="position-absolute translate-middle p-2 bg-danger border border-light rounded-circle">
      </span>
    </i></i>
  <% end %>
