<% if notice %>
  <div class="animate__animated animate__lightSpeedInRight alert alert-success alert-dismissible fade show m-5" role="alert">
    <i class="fa-regular fa-circle-check"></i>
    <%= notice %>
    <button type="button" class="btn-close ms-3" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="animate__animated animate__fadeInRight alert alert-info alert-dismissible fade show m-5" role="alert">
     <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
