<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    <a href="#"><i class="fa-regular fa-heart"></i></a>
    <a href="#"><i class="fa-solid fa-sailboat"></i></a>
    <a href="#"><i class="fa-regular fa-message"></i></a>
  </div>
</div>
