<h5 class="mb-0"> Départ<br></h5>
<p class="mb-0"><strong><%= l(@ride.start_date, format: :long) %></strong></p>
<p class="mb-0"><%= @ride.start_port %></p>
<span><i class="  fa-solid fa-person-circle-exclamation"></i> <%= @ride.capacity %> <strong class="me-2">MAX</strong></span>
