.navbar-lewagon {
  justify-content: space-between;
  position: relative;
  // background: #FFF1D0;
  z-index: 2;
}

.navbar-lewagon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg-navbar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

#font_link {
  color: #023631;
  font-style: strong;
  font-family: "Nunito", "Helvetica", "sans-serif";
    &:hover {
      color: #08685e;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
