.navbar-lewagon {
  justify-content: space-between;
  background: #A7F1F8;
}

#font_link {
  color: #023631;
  font-style: strong;
  font-family: "Nunito", "Helvetica", "sans-serif";
    &:hover {
      color: #08685e;
    }
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
