.card-sloop {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.723);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  h2 {
    position: absolute;
    top: 10px;
    margin-left: 20px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
}
.fixed-cover {
  width: 100%; /* Adapte l'image à la largeur du conteneur parent */
  height: 250px; /* Fixe la hauteur de l'image */
  object-fit: cover; /* Recadre l'image pour qu'elle couvre le conteneur tout en conservant son aspect ratio */
}
.card-sloop-infos {
  padding: 16px;

}
.card-sloop-user {
  position: absolute;
  bottom: 80px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px $darkgreen;
}


.ride-avatar-position {
  position: absolute;
  bottom: 170px;
  right: 10px;
}
