.card-sloop {

  overflow: hidden;
  background: rgba(255, 255, 255, 0.723);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    position: relative;


  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
}
  .card-sloop-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .card-sloop-user {
    position: absolute;
    right: -40px;
    top: -35px;
    width: 40px;
  }


.ride-avatar-position {
  position: absolute;
  bottom: 170px;
  right: 10px;
}
