.no_home {
  height: 200px;
}

.travel_info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.map_ride {
  margin: 15px;
}

.subtitle h2 {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
  color: #023631;
  font-weight: bold;
  font-size: 18px;
}

.traveller_info {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  width: 360px;
  border-radius: 10%;
  height: 145px;
}

.capacity_reach {
  background-color: #910F0F;
  display: flex;
  width: 360px;
  justify-content: center;
  margin-left: 15px;
  border-radius: 15px;
  height: 140px;
}

.fa-face-frown {
  margin-right: 10px;
  font-weight: normal;
}

.sorry_text h2, p {
  color: #FFFFFF;
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 16px;
  margin-left: 15px;
}

.sorry_text h2 {
  margin-top: 25px;
}

.sorry_text p {
  margin-right: 15px;
}

.card_center {
  display: flex;
  justify-content: center;
}

.size_large {
  display: flex;
  justify-content: center;
  margin: 15px;
  width: 360px;
}
