// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

.body-pages {
  z-index: 0;
  position: relative;
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5 {
  color: rgb(3,55,49);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

p, i, span {
  color: rgb(3,55,49);
}
