<div class="container mb-3">
  <div class="cards mt-2">
    <div class="row">
      <div>
        <h1 class="display-4 text-center my-4">Tous les Sloops disponibles</h1>
        <span class="mb-3 d-block"><em><%= "Aucun résultat pour votre recherche, consultez la carte pour voir tous les sloops disponibles" if @sloops.empty? %></em></span>
        <span class="mb-3 d-block"><em><%= "#{pluralize(@sloops.count, "résultat")}" if @sloops.count  %></em></span>
      </div>
        <% @sloops.each do |sloop| %>
        <%= render "shared/sloopcard", sloop: sloop %>
        <% end %>
    </div>
 </div>
</div>
